apiVersion: v1
kind: Secret
metadata:
  name: tasky-secrets
type: Opaque
data:
  MONGODB_URI: ${MONGODB_URI_B64}   # mongodb://10.20.0.12:27017
  SECRET_KEY: ${SECRET_KEY_B64}                          # test123
